@font-face {
  font-family: "iconfont"; /* Project id 4298506 */
  src: url('iconfont.woff2?t=1731982635603') format('woff2'),
       url('iconfont.woff?t=1731982635603') format('woff'),
       url('iconfont.ttf?t=1731982635603') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-appround4:before {
  content: "\e92d";
}

.icon-a-appround25:before {
  content: "\e931";
}

.icon-RectangleCopy2:before {
  content: "\e6a6";
}

.icon-RectangleCopy16:before {
  content: "\e6b3";
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-RectangleCopy1:before {
  content: "\e6a3";
}

.icon-RectangleCopy3:before {
  content: "\e6a7";
}

.icon-RectangleCopy4:before {
  content: "\e6a8";
}

.icon-RectangleCopy5:before {
  content: "\e6a9";
}

.icon-RectangleCopy6:before {
  content: "\e6aa";
}

.icon-RectangleCopy7:before {
  content: "\e6ab";
}

.icon-RectangleCopy8:before {
  content: "\e6ac";
}

.icon-RectangleCopy9:before {
  content: "\e6ad";
}

.icon-RectangleCopy10:before {
  content: "\e6ae";
}

.icon-RectangleCopy12:before {
  content: "\e6b0";
}

.icon-dingwei:before {
  content: "\e6ea";
}

.icon-RectangleCopy14:before {
  content: "\e6eb";
}

